.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*.flex-container{
  display: flex;
  background-color: blue;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  
}*/

nav{
  display:flex;
  background-color: violet;
  justify-content: space-around;
  align-items:center;
  color:blueviolet;
}

.liststuff{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  list-style: none;
  background-color: yellow;
  width: 50%;
}

div.box1{
  background-color: red;
  width:50%;
}
div.box2{
  background-color: blue;
  width:50%;
  flex-shrink:3;
}

div.box3{
  background-color: yellow;
  width:50%;
}

.box1, .box2, .box3{
  margin:5px;
  border-radius: 30px;
  height:250px;
}

.content-container{
  display:flex;
  justify-content:space-between;
  height:50%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
